<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/css/style.min.css">
</head>
<body>
  <div class="accordion">
    <details class="accordion__item" open>
      <summary class="accordion__title" data-icon="chevron-right" data-icon-position="after">Accordion title</summary>
      <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusamus rerum maiores fuga ad numquam!</p>
    </details>
    <details class="accordion__item" open>
      <summary class="accordion__title" data-icon="chevron-right" data-icon-position="after">Accordion title</summary>
      <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusamus rerum maiores fuga ad numquam!</p>
    </details>
  </div>
</body>
</html>