<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/css/style.min.css">
</head>
<body>
  <div class="alert" data-type="info" role="alert">
    <h6 class="alert__title">Lorem, ipsum dolor.</h6>
    <p class="alert__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequuntur aspernatur molestias earum voluptatibus possimus?</p>
    <button class="button" data-icon="close">Close</button>
  </div>
  <div class="alert" data-type="warning" role="alert">
    <p class="alert__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequuntur aspernatur molestias earum voluptatibus possimus?</p>
    <button class="button" data-icon="close">Close</button>
  </div>
  <div class="alert" data-type="error" role="alert">
    <p class="alert__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequuntur aspernatur molestias earum voluptatibus possimus?</p>
    <button class="button" data-icon="close">Close</button>
  </div>
  <div class="alert" data-type="success" role="alert">
    <p class="alert__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequuntur aspernatur molestias earum voluptatibus possimus?</p>
    <button class="button" data-icon="close">Close</button>
  </div>
</body>
</html>