<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../dist/css/style.min.css">
</head>

<body>
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol class="breadcrumb__list">
            <li class="breadcrumb__item">
                <a href="" class="breadcrumb__link">
                    Link
                </a>
            </li>
            <li class="breadcrumb__item">
                <a href="" class="breadcrumb__link">
                    Link
                </a>
            </li>
            <li class="breadcrumb__item">
                Link
            </li>
        </ol>
    </nav>
</body>

</html>