<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../dist/css/style.min.css">
</head>
<body>
  <!--aria-busy="" will enable/disable a loader-->
  <a href="#" class="button" role="button">Button link</a>
  <button class="button">Button</button>
  <button class="button is:outline">Button</button>
  <button class="button is:secondary">Button</button>
  <button class="button is:secondary is:outline">Button</button>
  <button class="button" aria-busy="true">Button</button>
</body>
</html>