<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
  <!--Can be replaced with divs-->
  <!--if the article tag is out of scope-->
  <article class="card">
    <header class="card__header">
      <figure class="card__image--wrap">
        <img src="#" alt="" class="card__image">
      </figure>
      <h3 class="card__title"></h3>
    </header>
    <div class="card__body"></div>
    <footer class="card__footer"></footer>
  </article>
</body>
</html>