<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
  <!--Every input wil have aria-invalid="true|false" when validated-->
  <form class="form" action="">
    <fieldset class="form__group">
      <legend class="form__legend"></legend>
      <label class="form__label" for="">
        <span></span>
        <input type="radio" class="form__radio" id="" name="">
      </label>
      <!--End input-->
      <!--Role switch enable/disable the switch css-->
      <label class="form__label" for="">
        <span></span>
        <input type="checkbox" role="switch" class="form__checkbox" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="text" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="password" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="date" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="number" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="number" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="tel" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="time" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="datetime-local" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="file" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="image" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="month" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="range" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="reset" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="search" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="url" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="week" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <input type="color" class="form__input" id="" name="">
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <span></span>
        <select class="form__select" name="" id="">
          <option value=""></option>
          <optgroup label="">
            <option value=""></option>
          </optgroup>
        </select>
      </label>
      <!--End select-->
      <label class="form__label" for="">
        <span></span>
        <textarea class="form__textarea" name="" id="" cols="30" rows="10"></textarea>
      </label>
      <!--End input-->
      <label class="form__label" for="">
        <input list="browsers">
        <datalist class="form__datalist" id="browsers">
          <option value="Internet Explorer">
          <option value="Firefox">
          <option value="Chrome">
          <option value="Opera">
          <option value="Safari">
        </datalist>
      </label>
    </fieldset>
    <!--End group-->
  </form>
</body>
</html>