<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
  <dialog class="modal" open>
    <article class="modal__content">
      <header class="modal__header">
        <button class="modal__close" aria-label="Close" data-icon="close">Close</button>
        <h3 class="modal__title"></h3>
      </header>
      <div class="modal__body">
      </div>
      <footer class="modal__footer"></footer>
    </article>
  </dialog>
</body>
</html>