<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
  <!--role="grid" enable/disable striped rows-->
  <table class="table" role="grid">
    <thead class="table__head">
      <tr>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr>
        <td scope="row"></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot class="table__footer">
      <tr>
        <th scope="col"></th>
      </tr>
    </tfoot>
  </table>
</body>
</html>