.form {
    @at-root #{&}__group {
        border: 0;
        margin-bottom: emRhythm(2, $ms-down1);
    }

    @at-root #{&}__legend {
        font-size: 0;
    }

    @at-root #{&}__label {
        span{
            display: block;
            margin-bottom: emRhythm(0.5, $ms-down1);
        }
        input:not([type="radio"]):not([type="checkbox"]), textarea, select{
            width: 100%;

            &[aria-invalid="false"]{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(56, 142, 60)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            }

            &[aria-invalid="true"]{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(198, 40, 40)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
            }

            &[aria-invalid]{
                background-size: 1rem auto;
                background-position: center right 0.75rem;
                background-repeat: no-repeat;
            }
        }
    }

    @at-root #{&}__checkbox {
        background-color: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
        &[role="switch"] {
            color: map-get($colors, 'text-color');
            width: 2.25em;
            height: 1.25em;
            border: emRhythm(1, $ms-down1) solid map-get($colors, 'border-color');
            border-radius: 1.25em;
            background-color: var(--background-color);
            line-height: 1.25em;

            &:before {
                content: "";
                display: block;
                width: calc(1.25em - (emRhythm(1, $ms-down1) * 2));
                height: 100%;
                border-radius: 50%;
                background-color: darken(map-get($colors, 'primary'), 15%);
                transition: margin .1s ease-in-out;
            }

            &:checked{
                background-color: map-get($colors, 'primary');
                border-color: map-get($colors, 'primary');
            }
        }
    }

    @at-root #{&}__radio {
    }

    @at-root #{&}__radio, #{&}__checkbox{
        width: calculateRem(18px);
        height: calculateRem(18px);
    }

    @at-root #{&}__input {
        padding: emRhythm(1, $ms-down1) emRhythm(1.5, $ms-down1);
        &[type="search"]{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
            background-size: 1rem auto;
            background-position: center left 0.75rem;
            background-repeat: no-repeat;

            padding-left: emRhythm(4.5, $ms-down1);
        }
    }

    @at-root #{&}__select {

    }

    @at-root #{&}__datalist {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
        background-size: 1rem auto;
        background-position: center right 0.75rem;
        background-repeat: no-repeat;
    }

    @at-root #{&}__textarea {
        padding: emRhythm(1, $ms-down1) emRhythm(1.5, $ms-down1);
        resize: none;
    }

    @at-root #{&}__input, #{&}__textarea, #{&}__select, #{&}__datalist{
        border: 1px solid map-get($colors, 'border-color');
    }
}