@use 'sass:math';

.grid {
    display: flex;
    flex-flow: row wrap;

    &>* {
        padding: 0 $gutter;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

@for $i from 1 through $columns {
    @each $breakpoint, $pixels in $grid-breakpoints {
        @include generate-responsive-columns($breakpoint, $i);
        @if map-get($responsive, 'gutter') == 1 {
            @include generate-responsive-gutters($breakpoint);
        }
        @if map-get($responsive, 'offset') == 1 {
            @include generate-responsive-offset($breakpoint, $i);
        }
    }
}



.container {
    margin: 0 auto;
    @each $breakpoint, $pixels in $grid-breakpoints {
        @include generate-responsive-containers($breakpoint, $pixels);
    }

    @at-root #{&}--wide{
        max-width: none!important;
        width: 100%;
    }
}