@font-face {
    font-family: $icon-font;
    src: url('../../fonts/#{$icon-font}.ttf?kb159l') format('truetype'),
    url('../../fonts/#{$icon-font}.woff?kb159l') format('woff'),
    url('../../fonts/#{$icon-font}.svg?kb159l##{$icon-font}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[data-icon] {
    position: relative;
    @include icon-font(data-icon);

    &[data-icon-position="after"] {
        &:before {
            display: none;
        }

        &:after {
            @include init-icon-font;
            content: attr(data-icon);
        }
    }
}